<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户列表</title>
	<link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}base.css">
    <link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}admin.css">
    <link href="{$smarty.const.ADMIN_CSS_URL}font-awesome.min.css" rel="stylesheet">
    <link href="{$smarty.const.ADMIN_CSS_URL}userinfo.css" rel="stylesheet">
    <script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}jquery.min.js"></script>
    <script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}ajaxfileupload.js"></script>
	<script>
		$(document).ready(function () {
		 	$("#userimg").on('change', function(event) {
		 		event.preventDefault();
		 		ajaxFileUpload();
		 	});
		});

		function ajaxFileUpload() {
			var xsrc = "{$smarty.const.SITE_URL}{$user_info.userimg}";
            $.ajaxFileUpload
            (
                {
                    url: "{$smarty.const.__CONTROLLER__}/altpic", //用于文件上传的服务器端请求地址
                    secureuri: false, //是否需要安全协议，一般设置为false
                    fileElementId: 'userimg', //文件上传域的ID
                    dataType: 'JSON', //返回值类型 一般设置为json
                    data:{
                        userimg : xsrc,
                    },
                    type: 'post',
                    success: function (data, status)  //服务器成功响应处理函数
                    {
                    	if(data != "error"){
                    		$(".headPic").attr("src",data);
                    	}else{
                    		alert("修改失败");
                    	}
                        
                          
                    },
                    error: function (data, status, e)//服务器响应失败处理函数
                    {
                        alert(e);
                    }
                }
            )
        }
	
	</script>
</head>
<body>
	<div class="main_box">
		<div class="top_bar">
			<span class="cur_location">
				<i class="fa fa-home fa-lg"></i>&nbsp;&nbsp;
				当前位置：个人中心&nbsp;
				<i class="fa fa-angle-double-right">&nbsp;
				修改个人信息</i>
			</span>
		</div>
		<div class="box">
			<!-- 将当前头像的src属性返回给后台，后台将该对应文件删除 -->
			<form action="{$smarty.const.__SELF__}?userimg={$smarty.const.SITE_URL}{$user_info.userimg}" method="post" enctype="multipart/form-data">
				<div class="left">
					<div class="headImg">
						<img class="headPic" src="{$smarty.const.SITE_URL}{$user_info.userimg}" alt="">
						<div id="altPic">
							<span>修改头像</span>
							<input type="file" id="userimg" name="userimg">
						</div>
					</div>
					<div class="headInfo">
						<p>
							<span>
								<i class="fa fa-clock-o fa-lg"></i>
								注册时间：
							</span>
						</p>
						<br>
						<p><span>{$user_info.registertime}</span></p>
						<br>
						<p>
							<span>
								<i class="fa fa-clock-o fa-lg"></i>
								登录时间：
							</span>
						</p>
						<br>
						<p><span>{$user_info.lasttime}</span></p>
					</div>				
				</div>
				<div class="right">
					<div class="topbox">
							<i class="fa fa-cogs fa-lg"></i>	
							&nbsp;
							<span class="zhxx">修改个人信息</span>				
					</div>
					<div class="midbox">				
						<p>
							<span>
								<i class="fa fa-address-book fa-lg"></i>	用户名：<input type="text" name="username" value="{$user_info.username}">
							</span>
						</p>
						<br><br>
						<p>
							<span>
								<i class="fa fa-lock fa-lg"></i>	
								密码：<input type="text" name="password" value="{$user_info.password}">
							</span>
						</p>
						<br><br>
						<p>
							<span>
								<i class="fa fa-envelope fa-lg"></i>	
								邮箱：<input type="text" name="email" value="{$user_info.email}">
							</span>
						</p>
						<br><br>
						<p>
							<span>
								<i class="fa fa-qq fa-lg"></i>
								QQ：<input type="text" name="qq" value="{$user_info.qq}">
							</span>
						</p>
						<br><br>
						<p>
							<span>
								<i class="fa fa-phone fa-lg"></i>
								电话：<input type="text" name="mobile" value="{$user_info.mobile}">
							</span>
						</p>

						
					</div>				
				</div>
				<div class="btnbox">
					<input class="btn" type="submit" value="修改">
				</div>				
			</form>
		</div>
	</div>
</body>


</html>