<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>footer</title>
	<link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}base.css">
    <link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}admin.css">
    <link href="{$smarty.const.ADMIN_CSS_URL}font-awesome.min.css" rel="stylesheet">

</head>
<body>
	<div id="footer">
		<div class="dblock">
			<div class="inline-block copyright clearfix">
				<div class="inline-block">
					<img src="{$smarty.const.ADMIN_IMG_URL}logo-gray.png">
					<span><a href="#">关于我们</a> | <a href="#">微博</a> | <a href="#">	微信公众平台</a> | <a href="#">人员招聘</a></span>
					<p>Copyright &copy; 北京师范大学珠海分校金凤路18号燕华七栋A735 | 邓学文 2017.4</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>