<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管理界面</title>
    <style type="text/css">  
        *{
            margin: 0;
            padding: 0;
        }
        body{
             background-color: #f0eeef;
        }
        .top{  
            width:100%;  
        }  
        .bottom{
            width:100%; 
        }
        .content {
            width:100%;  
            height: 600px;      
        }
    </style> 
</head>

<body>
    <div class="top">  
        <iframe frameborder=0 width=100% height=94 marginheight=0 marginwidth=0 scrolling=no src="{$smarty.const.__CONTROLLER__}/top.html"></iframe>  
    </div>  

    <div class="content">
        <iframe frameborder=0 width=17% height=600 marginheight=0 marginwidth=0 scrolling=no src="{$smarty.const.__CONTROLLER__}/left.html"></iframe> 
        <iframe name="right" frameborder=0 width=82% height=600 marginheight=0 marginwidth=0 scrolling=no src="{$smarty.const.__CONTROLLER__}/right.html"></iframe> 
    </div>  

    <div class="bottom">  
        <iframe frameborder=0 width=100% height=90 marginheight=0 marginwidth=0 scrolling=no src="{$smarty.const.__CONTROLLER__}/bottom.html"></iframe>  
    </div>  
    
</body>

</html>