<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>right</title>
	<link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}base.css">
    <link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}admin.css">
    <link href="{$smarty.const.ADMIN_CSS_URL}font-awesome.min.css" rel="stylesheet">
	<style>
		.main{
			position: absolute;
			top: 200px;
			left: 400px;
			font-size: 70px;
		}
	</style>
</head>
<body>
<div class="main_box">
	<div class="top_bar">
		<span class="cur_location"><i class="fa fa-home fa-lg"></i>&nbsp;&nbsp;当前位置：首页</span>
		<span class="main">欢迎登陆！</span>
	</div> 
</div>
</body>
</html>