<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的文章列表</title>
	<link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}base.css">
    <link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}admin.css">
    <link href="{$smarty.const.ADMIN_CSS_URL}font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}showlist.css">
	<script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}jquery.min.js"></script>
	<script>
		$(document).ready(function() {
			$(".search_btn").on('click', function(event) {
				if($(".search_input").val() == ""){
					alert("请输入查询内容！");
					event.preventDefault();
				}
				
			});
		});	
	</script>
	<style>
		{literal}
		.search_box {
			width: 400px;
			height: 36px;
			line-height: 36px;
			margin: 0 auto;
		}
		.search_input {
			width: 200px;
			height: 25px;
			padding-left: 10px;
		}
		.search_btn {
			width: 50px;
			height: 28	px;
			text-align: center;
		}
		{/literal}
	</style>
</head>
<body>
	<div class="main_box">
		<div class="top_bar">
			<span class="cur_location">
				<i class="fa fa-home fa-lg"></i>&nbsp;&nbsp;
				当前位置：文章管理&nbsp;
				<i class="fa fa-angle-double-right">&nbsp;
				我的文章列表</i>
			</span>
		</div> 
		<div class="right_con">
			<table border="1" width="100%" cellpadding="0" cellspacing="0">
				<tr >
					<td colspan="7">
						<div class="search_box">
							<form action="{$smaty.const.__CONTROLLER__}searchMyArticle" method="post">
								<input type="text" name="articleInfo" class="search_input" placeholder="请填入搜索内容！">
								<input type="submit" value="搜索" class="search_btn">
							</form>
							
						</div>
					</td>
				</tr>
				<tr>
					<td>序号</td>
					<td>标题</td>
					<td>作者</td>
					<td>文章类型</td>
					<td>发布时间</td>
					<td>文章属性</td>
					<td>操作</td>
				</tr>
				{foreach $info as $k => $v} 
				<tr>
					<td>{$v.article_id}</td>
					<td><a href="{$smarty.const.__CONTROLLER__}/showArticle/article_id/{$v.article_id}">{$v.article_title}</a></td>
					<td>{$v.article_author}</td>
					<td>{$v.article_type}</td>
					<td>{$v.article_time}</td>
					<td>{$v.article_authority}</td>
					<td>
						<a href="{$smaty.const.__CONTROLLER__}updArticle/article_id/{$v.article_id}"><i class="fa fa-gear fa-lg"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;
						<a href="{$smaty.const.__CONTROLLER__}dltArticle/article_id/{$v.article_id}" onclick = "javascript:if(!confirm('确定要删除这篇文章?'))return false;"><i class="fa fa-trash fa-lg"></i></a>
					</td>
				</tr>
				{/foreach}
				<tr>
	                <td colspan="20" style="text-align: center;">
	                    {$pagelist}
	                </td>
	            </tr>
			</table>
		</div>
	</div>
</body>
</html>