<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>查询文章</title>
	<link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}base.css">
    <link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}admin.css">
    <link href="{$smarty.const.ADMIN_CSS_URL}font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}showlist.css">
</head>
<body>
	<div class="main_box">
		<div class="top_bar">
			<span class="cur_location">
				<i class="fa fa-home fa-lg"></i>&nbsp;&nbsp;
				当前位置：文章管理&nbsp;
				<i class="fa fa-angle-double-right">&nbsp;
				查询结果</i>
			</span>
		</div> 
		<div class="right_con">
			<table border="1" width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td>序号</td>
					<td>标题</td>
					<td>作者</td>
					<td>文章类型</td>
					<td>发布时间</td>
					<td>发布用户</td>
					<td>用户id</td>
				</tr>
				{foreach $articleInfo as $k => $v} 
				<tr>
					<td>{$v.article_id}</td>
					<td><a href="{$smaty.const.__CONTROLLER__}showArticle/article_id/{$v.article_id}">{$v.article_title}</a></td>
					<td>{$v.article_author}</td>
					<td>{$v.article_type}</td>
					<td>{$v.article_time}</td>
					<td><a href="{$smaty.const.__CONTROLLER__}showUserArticle/userid/{$v.userid}">{$v.username}</a></td>
					<td>{$v.userid}</td>
				</tr>
				{/foreach}
			</table>
		</div>
	</div>
</body>
</html>